<html>
<title>Ranking League
</title>
<body>
<h1>Ranking</h1>
<br>
<br>
<H1>TABLE LEAGUE 
  <%=
  @league.name
  %>

</H1>
<table border=1>
  <thead>
    <tr>
      <th>Pos.</th>
      <th>Team</th>
      <th>Played</th>
      <th>Win</th>
      <th>Draw</th>
      <th>Lost</th>
      <th>GF</th>
      <th>GA</th>
      <th>GD</th>
      <th>POINTS</th>
    </tr>
  </thead>
    <tr>
      <th>1</th>
    <tr>
    <% @league.teams.each do |team| %>
    <th>
    <%= team.name %>
    </th> 
  </tr> 
    <% end %>
</table>
</body>
</html>