<HTML>
    <HEAD>
        <TITLE>Dar de alta un equipo</TITLE>
        ...
    </HEAD>

    <BODY>
    	 <FORM action="http://algunsitio.com/prog/usuarionuevo" method="post">
    <P>
    <LABEL for="nombre">Introduce un nombre para el equipo: </LABEL>
              <INPUT type="text" id="nombre"><BR>
    <INPUT type="submit" value="Enviar"> <INPUT type="reset">
    </P>
 </FORM>
    </BODY>
</HTML>