<h1 align="center"><b>Game Rules</b></h1>
<hr>
<br>
<list>
	<ul>
		<li> Usuario registrado puede crear un equipo en por liga, las ligas ya estan creadas y gestionadas por el Administrador. Un equipo se une a una Liga. </li>
		<li> Usuario registrado recibe aleatoriamente 16 jugadores. De la siguiente manera:</li>
		<br><table align="center">
				<tr>
					<td>2 PORTEROS</td></tr>
					<td>5 DEFENSAS</td></tr>
					<td>5 MEDIOCENTROS</td></tr>
					<td>3 DELANTEROS</td></tr>
				</tr>
			</table>
			<br>
		<li> Sistema de (n-1)*2 jornadas para obtener el ganador. El ganador de una liga es el equipo en el que sus jugadores ganen más puntos.</li>
		<li> Se enfrentan todos contra todos por jornada.</li>
		<li> Los puntos se recogen de la jornada semanal de la Liga BBVA, el administrador no tiene que poner los resultados. Se recogen de datos reales para dar más imparcialidad al juego. (*)</li>
		<li> Suman puntos todos los jugadores de un equipo</li>
		<li> Tabla de puntuación:</li>
			<br><table align="center">
				<tr>
					<td>1. Por victoria del equipo real:</td><td>3</td></tr>
					<td>2. Por empate del equipo real:</td><td>1</td></tr>
					<td>3. Por derrota del equipo real:</td><td>0</td></tr>
					<td>4. Gol marcado (PORTERO):</td><td>10</td></tr>
					<td>5. Gol marcado (DEFENSA):</td><td>6</td></tr>
					<td>6. Gol marcado (MEDIOCENTRO):</td><td>4</td></tr>
					<td>7. Gol marcado (DELANTERO):</td><td>3</td></tr>
					<td>8. Gol en propia puerta:</td><td>-2</td></tr>
					<td>9. Jugador titular:</td><td>2</td></tr>
					<td>10. Jugador alineado:</td><td>1</td></tr>
					<td>11. Jugador sin pena ni gloria:</td><td>0</td></tr>
					<td>12. Penalty parado(PORTERO):</td><td>2</td></tr>
					<td>13. Penalty fallado(JUGADOR):</td><td>-2</td></tr>
					<td>14. Tarjeta roja:</td><td>-3</td></tr>
					<td>15. Tarjeta amarilla * 2 </td><td>-2</td></tr>
				</tr>
			</table>
</ul>
<br>

(*) Esta aplicación se basa en un prototipo de una competición virtual, los puntos son añadidos por el administrador pero la idea real, es basarse en los puntos obtenidos en la competición liguera nacional.
</list>