<html>
<title>Matchs Day List
</title>
<body>
<h1>Matchs Day List</h1>
<% @matchdays=((@league.teams.count)-1)*2 %>
<table>
  <thead>
    <tr>
      <th>Day</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
     <% (1..@matchdays).each do |i| %>
      <tr>
        <td><%= i %></td>
        <td><%= link_to 'See Matches', :controller => 'match_day', :action => 'show', :day => i  %> |</td>
     </tr>
     <% end %>
  </tbody>
</table>
</body>
</html

