<h1>Match Day <%= @match_day.number %></h1>
<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody>
    <% @match_day.league.teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= @team_points[team.id] %> points</td>
      </tr>
      <% end %>
  </tbody>
</table>
